Edit Post

<div>
  <div>
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @the_post.id %>"  method="post" >
      <div class="form-group">
        <label for="content_box">
          Content
        </label>

        <textarea class="form-control" id="content_box" name="query_content"><%= @the_post.content %></textarea>
      </div>

      <div class="form-group">
        <label for="link_box">
          Link
        </label>

        <textarea class="form-control" id="link_box" name="query_link"><%= @the_post.link %></textarea>
      </div>

      <button>
        Update post
      </button>
    </form>
  </div>
</div>
